<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gls.gemini.uaa.boot.web.mapper.ClientInfoMapper">

    <resultMap id="clientInfoResultMap" type="com.gls.gemini.uaa.boot.web.entity.ClientInfoEntity">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="client_name" property="clientName"/>
        <result column="client_authentication_methods" property="clientAuthenticationMethods"/>
        <result column="authorized_grant_types" property="authorizedGrantTypes"/>
        <result column="redirect_uris" property="redirectUris"/>
        <result column="post_logout_redirect_uris" property="postLogoutRedirectUris"/>
        <result column="scopes" property="scopes"/>
        <result column="client_settings" property="clientSettings"/>
        <result column="token_settings" property="tokenSettings"/>
        <result column="additional_information" property="additionalInformation"/>
        <result column="client_id_issued_at" property="clientIdIssuedAt"/>
        <result column="client_secret_expires_at" property="clientSecretExpiresAt"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="clientInfoSql">
        id,client_id,client_secret,client_name,client_authentication_methods,authorized_grant_types,redirect_uris,post_logout_redirect_uris,scopes,client_settings,token_settings,additional_information,client_id_issued_at,client_secret_expires_at,tenant_id,version,deleted,create_user_id,create_user_name,create_time,update_user_id,update_user_name,update_time
    </sql>

</mapper>